body{
  background-color:#2c2c2c;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
html, body{
  height: 100%;
}

html{
  background-color:#2c2c2c;
}

.containter-canvas{
  margin-top:-200px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.outer {
  display: table;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 6em;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

a{
  color:#D9D9D9;
}

a:hover{
  color:#AD1E24
}

nav{
  background: #2c2c2c;
  border-bottom: 5px solid  #AD1E24;
  box-shadow: 0px 10px 10px black;
  font-family: 'Roboto', sans-serif;
}

.navbar-rr{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li{
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
}
.logo{
    padding-left: 2em;
    width: 125px;
    height: auto;
}

.gray{
  border-top: 5px solid  	#AD1E24;
  background-color: #2c2c2c;
}

.center{
  text-align: center;
}
.red{
  color: #AD1E24;
}

.redbird{
   transform: scaleX(-1);
   width:40%;
   height: auto;
   z-index: 0;
}
.p-heading{
  margin-bottom: -5px;
}
.h1-heading{
  margin-top: -5px;
  margin-bottom: -5px;
}
.h2-heading{
  margin-top: -5px;
}
.main-text{
  padding-top: 5em;
  padding-left: 1em;
}
.container-rr{
  margin: auto;
  width: 75%;
}

.container-rr-flex{
  flex: 1 0 auto;
  width: 75%;
}

.footer-p{
  font-size: 16px;
}

.footer-bottom{
  flex-shrink: 0;
}

.social-media{
  height: auto;
  width: 50px;
}

.github{
  background: url(assets\images\iconmonstr-github-1-240.png) no-repeat;
  margin-top: -15px;
  padding-left: 10px;
}

.instagram{
  margin-top: -15px;
  padding-right: 10px;
}

.githhub:hover{
  content: url(assets\images\iconmonstr-github-1-240_red.png) no-repeat;
}

.instagram:hover{
  content: url(assets\images\iconmonstr-instagram-11-240_red.png) no-repeat;
}

.footer-spacing{
  margin-bottom: -50px;
}

.footer-top-row-spacing{
  margin-bottom: -10px;
}

.top-paragraph-main{
  padding-top: 5em;
}

.top-paragraph{
  padding-top: 6em;
}

.bottom-paragraph{
  padding-bottom: 2em;
}


.vertical-align-center{
  vertical-align: middle
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#cf {
  position:relative;
}

#cf img {
  position:absolute;
}

#cf img.top:hover {
  opacity:0;
}

footer{
  padding-top: 1em;
  background-color: #0C0C0C;
}

p{
  color:#D9D9D9;
  font-size:20px;
  letter-spacing: normal;
}
h1{
  color:white;
  font-size: 60px;
  letter-spacing: normal;
}
h2{
  color: #C5C5C5;
  font-size: 50px;
  letter-spacing: normal;
}
h3{
  color: #C5C5C5;
}
h4{
  color: #7D7D7D;
}
a{
  color:#D9D9D9;
}

a:hover{
  color:#AD1E24
}

.people{
  height: 250px;
}

.people-img{
  width:200px;
  height:auto;
  border-radius: 50%;
  border: 5px solid #AD1E24;
}

.people-p{
  font-size: 16px;
  padding-left: 2em;
}

.title{
  margin-top: -0.25em;
}

/* Fade for body */
.main-body p, .main-body h1, .main-body h2, .main-body img, .main-body nav, .main-body footer{
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}
@keyframes fadein {
    0%   { opacity: 0; }
    66%  { opacity: 0; }
    100% { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0%   { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 1; }
}

/* TODO: Media breakouts for logo to properly scale with size of screen */
