body{
  background-color:#2c2c2c;
}
.containter-canvas{
  margin-right: auto;
  margin-left: auto;
  width: 530px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

p, h1, h2, h3, h4{
  color: white;
}

nav{
  border-bottom: 5px solid red;
}

.white{
  border-top: 5px solid red;
  background-color:white;
}

/* TODO: Media breakouts for logo to properly scale with size of screen */
